

.header {
  height: 80px;
  backdrop-filter: blur(3px);
  position: fixed;
  position: relative;


  &__contents {
    height: 80px;
    padding: 15px 0;
    display: flex;
    position: absolute;
    right: 40px;


    &--edit {
      height: 50px;
      width: 80px;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-right: 20px;
      background-color: rgba(255,255,255,0.8);
    }

    &--logout {
      height: 50px;
      width: 80px;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      background-color: rgba(255,255,255,0.8);
    }

    &--login {
      height: 50px;
      width: 80px;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-right: 20px;
      background-color: rgba(255,255,255,0.8);
    }

    &--signup {
      height: 50px;
      width: 80px;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      background-color: rgba(255,255,255,0.8);
    }
  }
}
