.main {
  height: 105vh;
  background-color: #dddddd;
  margin-top: 3vh;
  padding: 0 5%;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content:stretch;
  overflow: scroll;

  &__box {
    background-color: #e2e2e2;
    height: 40vh;
    width: 37vw;
    margin: 4%;
    border-radius:  5px;
    position: relative;

    &__image {
      height: 40vh;
      width: 37vw;
    }

    &__info{
      height: 50%;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: -moz-linear-gradient(bottom, rgb(168, 168, 168), rgba(255, 255, 255, 0.5));
      background: -webkit-linear-gradient(bottom, rgb(168, 168, 168), rgba(255, 255, 255, 0.5));
      background: linear-gradient(to top, #e2e2e2, rgba(255, 255, 255, 0.0));

      &__title {
        display: inline-block;
        width: 100%;
        padding-right: 10%;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        bottom: 30%;
        text-align: right;

        &--link {
          color: black;
          text-shadow: 2px 2px 2px gray;
        }
      }
      &__reviewer {
        display: inline-block;
        width: 100%;
        padding-right: 10%;
        font-size: 14px;
        color: gray;
        position: absolute;
        bottom: 15%;
        text-align: right;
      }
    }
  }
}