.container {
  height: 100vh;
  width: 100vw;
  padding-top: 10%;
  padding: 0 15%;
  &__text{
    display: inline-block;
    font-size: 30px;
    text-shadow: 1px 1px 2px silver;
    text-align: center;
  }

}